h1 {
    text-align: center;
    color: cornflowerblue;
  }
  
 img{
    width: 500px;
    height: 500px;
    margin-bottom: 1rem;
 }
 /* .rant{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 } */

 .home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: beige;
 }

 nav {
   background-color: cornflowerblue;
   padding: 10px;
}

nav ul {
   list-style-type: none;
   margin: 0;
}

nav li {
   display: inline;
   margin-right: 25px;
}

nav a {
   color: white;
   font-size: 1.5em;
}

nav a:hover {
   color: pink;
   text-decoration: none;
}
body {
   background-color: lightblue;
   text-align: center;
 }
 
 main {
   margin-right: 20px;
   margin-left: 20px;
   background-color: white;
 }
 
.show-container{
   display: flex;
   justify-content: space-between;
}