h1 {
    text-align: center;
    color: cornflowerblue;
  }
  
 img{
    width: 500px;
    height: 500px;
    margin-bottom: 1rem;
 }
 /* .rant{
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 } */

 .home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: beige;
 }